<select>
  <option>Hello</option>
  <option>World</option>
</select>
<script>
  /*
  onChange(version) {
    if (!verison.url.startsWith(window.location.origin)) {
      window.location.assign(
        window.location.pathname
          ? version.url + window.location.pathname + window.location.hash
          : version.url,
      );
    }
  }
  */
</script>